body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

.btn-primary {
  background-color: #004aad !important; /* Azul del logo */
  border: none !important;
  border-radius: 12px !important;
  padding: 10px 20px !important;
  font-weight: 500 !important;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #00337a !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
